*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #DDE1F4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container_main{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 700px;
    background-color: #fff;
    padding: 40px;
    overflow: hidden;
    box-shadow: -20px -20px  0px 0px #CCD5F9;
    border-radius: 20px;
}
.container_filter_search{
    display: flex;
    flex-direction: column;
}
.container_filter{
    display: flex;
    
   
}

.btn_filter{
    width: 70px;
   height: 35px;
    padding: 8px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #DDE1F4;
    border-radius: 3px;
    cursor: pointer;
}
.save{
    color: red;
}
.btn_save{
    
    color: green;
}
.selected{
    background-color: #4A6FFF;
    color: #fff;
    outline: none;
}



.container_search{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.fa-search{
    position: absolute;
    left: 0px;
    font-size: 20px;
    margin-left: 15px;
}

#search_inp{
    align-self: flex-end;
    width: 100%;
    padding: 14px;
    background-color: #F2F5FF;
    border: 1px solid #DDE1F4;
    padding-left: 50px;
}
#search_inp:focus{
outline: none;
}

.container_results{
    margin-top: 45px;
    overflow-y: scroll;
    
    
    
}
.container_results::-webkit-scrollbar-track {
    
    background-color: transparent;
  }

.container_results::-webkit-scrollbar {
    width: 10px;
  }

.container_results::-webkit-scrollbar-thumb {
    border-radius: 10px;
    
    background-color: #CCD5F9;
  
  }
.result{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    
    
    


}
.result span{
   display: flex;
   align-items: center;
   
   width: 90%;
}
.result span p{
    margin-left: 30px;
}
.result span img{
    width: 50px;
    height: 50px;
}
.result button{
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;

}

.result:hover{
    background-color: #DDE1F4;
}


.container_loader{
    display: flex;
    justify-content: center;
}
.waveform {
    
  --uib-size: 40px;
  --uib-speed: 1s;
  --uib-color: #CCD5F9;
  --uib-line-weight: 4.5px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: var(--uib-size);
  height: calc(var(--uib-size) * 0.9);
}

.waveform__bar {
  width: var(--uib-line-weight);
  height: 100%;
  background-color: var(--uib-color);
}

.waveform__bar:nth-child(1) {
  animation: grow var(--uib-speed) ease-in-out
    calc(var(--uib-speed) * -0.45) infinite;
}

.waveform__bar:nth-child(2) {
  animation: grow var(--uib-speed) ease-in-out
    calc(var(--uib-speed) * -0.3) infinite;
}

.waveform__bar:nth-child(3) {
  animation: grow var(--uib-speed) ease-in-out
    calc(var(--uib-speed) * -0.15) infinite;
}

.waveform__bar:nth-child(4) {
  animation: grow var(--uib-speed) ease-in-out infinite;
}

@keyframes grow {
  0%,
  100% {
    transform: scaleY(0.3);
  }

  50% {
    transform: scaleY(1);
  }
}

