body{
    background-color: #DDE1F4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container_results{
    width: 700px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 40px;
    overflow: hidden;
    box-shadow: -20px -20px  0px 0px #CCD5F9;
    border-radius: 20px;

}

.img_coin{
    width: 50px;
    height: 50px;
}

.error_alert{
  
    background-color:#FFBABA ;
    display: flex;
    padding: 20px;
    color: rgb(206, 7, 7);
    align-items: center;
    border: 1px solid red;
    border-radius: 5px;
  }
  .error_alert i {
    margin-right: 20px;
    font-size: 30px;
  }
  .btn_reload{
    background-color: transparent;
    color:  rgb(40, 92, 152);
    border: none;
    cursor: pointer;
  }
  